.search input {
  width: 250px;
  height: 35px;
  padding: 5px;
  border: 1px #777 solid;
  border-radius: 5px;
}

.search input:focus {
  border: solid 2px #d2691e;
}

.searchTerm {
  font-size: 40px;
  color: blue;
}

/* fontSize: '40px', color: 'blue' */
